<div class="container position-c">
    <h3>Cadastrar usuários</h3>
    <button type="button" class="btn btn-primary">Cadastrar</button>
    <table class="table position-t">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Nickname</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de nascimento</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of user">
            <th scope="row">{{element.idcliente}}</th>
            <td>{{element.nome}}</td>
            <td>{{element.nickname}}</td>
            <td>{{element.cpf}}</td>
            <td>{{element.data_nasc | date: 'dd/MM/yyyy'}}</td>
            <td>
              <a class="color-l"[routerLink]="['/dashboard/editar', element.idcliente]"><i class="bi bi-pencil-fill"></i></a> 
                <i class="bi bi-trash2-fill" style="padding-left: 5px;"></i>
            </td>
          </tr>
        </tbody>
    </table>
</div>
