a{
    color: white!important;
}

.navbar-color{
    background-color: #7660d6!important;
}

.dropdown-menu-dark{
    background-color: white!important;
}

.a-color{
    color: black!important;
}
.nav-posi{
    margin-left: 60rem;
}
